videos/Bistable[[:space:]]555[[:space:]]-[[:space:]]8-bit[[:space:]]computer[[:space:]]clock[[:space:]]-[[:space:]]part[[:space:]]3-WCwJNnx36Rk.f140.m4a filter=lfs diff=lfs merge=lfs -text
videos/Bistable[[:space:]]555[[:space:]]-[[:space:]]8-bit[[:space:]]computer[[:space:]]clock[[:space:]]-[[:space:]]part[[:space:]]3-WCwJNnx36Rk.f313.webm filter=lfs diff=lfs merge=lfs -text
videos/Bistable[[:space:]]555[[:space:]]-[[:space:]]8-bit[[:space:]]computer[[:space:]]clock[[:space:]]-[[:space:]]part[[:space:]]3-WCwJNnx36Rk.mp4 filter=lfs diff=lfs merge=lfs -text
